
@font-face {
  font-family: 'CastoroTitling';
src: url('./fonts/Castoro_Titling/CastoroTitling-Regular.ttf') format ('truetype');
}

/*@font-face {
  font-family: 'young-money-font';
src: url(/fonts/young-money-font/YoungMoneyPersonalUseRegular-4Bz9l.otf) format ('opentype');
}*/

body {
  background-image: url('./backgroundimages/alexander-grey-8lnbXtxFGZw-unsplash.jpg');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Montserrat';
  text-align: center;
}


.topnav {
    background-color:black;
    overflow: hidden;
}

.topnav  {
    text-align: center;
    color: #ccba78;
    font-size: 35px;
    opacity: 80%;
    animation: slideIn 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; 
    font-family: 'Ysabeau', sans-serif;
    font-style: bold;
}

@keyframes slideIn {
  0% {
    opacity: 75%;
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(30px);
  }
  80%{
    transform: translateY(-10px);
  }
  100% {
    opacity: 75%;
    transform: translateY(0);
  }
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}


h4 {
    font-size: 40px;
    color: #ccba78;
    border: none;
    border-top-right-radius: 5% ;
    background-color: black;
    opacity: 75%;
    font-family: 'Ysabeau', sans-serif;
    border-radius: 12px ;
    border-width: 4cap;
}

.timings{
    font-size: 75px;
}
.btn{
  background-color: black;
  color: #ccba78;
  border : none;

  padding: 14px 40px;
  text-align: center;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;

}
button{
  font-family: 'Montserrat', sans-serif;
}

  #pomodoro-durations{
    padding-bottom: 2%;
  }

  .timer{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: item;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #ccba78;
    color: white;
    
  }

  
  .timer__digits {
    font-size: 75px;
    color: black;
  }
  
  .timer__buttons{
    display: flex;
    align-items: center;
    
  }

  .timer__start {
    position: absolute;
    bottom: 20px;
    left: 45%;
    transform: translateX(-50%);
    width: 100px;
    height: 75px;
  }

  .timer__stop{
    position: absolute;
    bottom: 20px;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 75px;
  }
li{
  list-style: none;
}
  
.music-container {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-wrap: wrap ;
}

.music-player{
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

footer{
  padding: 100px;
  color: white;
  overflow: hidden;
}
  
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
 
nav .circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img{
  width: 220px;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
  font-size: 20px;
  font-weight: 400px;
  color: #333;
  margin-top: 20px;

}

.music-player p{
  font-size: 14px;
  color: #333;
}

#progress{
  -webkit-appearance: none;
  width: 100%;
  height:6px;
  background: #f53192;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #f53192;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5p 5px rgba(225, 26, 26, 0.22);
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div{
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center ;
  justify-content: center;
  border-radius: 50%; 
  color: #f53192;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2){
  transform: scale(1.5);
  background: #f53192;
  color: white;
}